/*** main-style.css ***/

/* Global Classes */
* {
    box-sizing: border-box;
}
.centered {
    text-align: center;
}
.line {
    border-bottom: solid 1px black;
    margin: 10px;
}

/* Page Defaults */
body{
    background-color: darkgray;
    font-family: 'Roboto Mono', monospace;
}
#wrapper{
    max-width: 1200px;
    min-width: 375px;
    margin: auto;
    background-color: whitesmoke;
    border: solid 3px black;
    border-radius: 10px;
}

/* Header */
header{
    width: 100%;
    display: flex;
}
#left-nav{
    width: 45%;
}
#right-nav{
    width: 55%;
}
#left-nav img{
    max-width:  250px;
    padding-left: 25px;
    padding-top: 10px;
}
#aboutPics img{
    width: 250px;

}
#aboutPics p{
    width: 200px;
    text-align: center;
    margin: auto;

}
#aboutPics div{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
#aboutPics{
    text-align: center;
}
#textValid{
    display: inline-block;
    color: red;
    vertical-align: top;

}
#textFail{
   color: black;
   background-color: rgb(255, 154, 154); 
   width: 50%;
   border-radius: 20px;
   text-align: center;
   font-size: .9em;
}

#textFail h3{
    padding: 10px; 
 }

#form_submitBtn{
    font-size: larger;
    border-radius: 10px;
    padding: 5px;
}

label{
    font-size: larger;
}


/* Navigation */
nav ul{
    width:100%;
    padding-top: 10px;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding-left: 10%;
    align-items: right;
    border-left: solid 1px black;
}
nav ul li{
    padding:15px;

}
nav ul li:hover{
    border-radius: 10px;
    background-color: darkgray;
}

/* Content Defaults */
#content {
    margin: 20px;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 850px) {
    /* Header */
    header{
        display: block;
    }
    #left-nav{
        width: 100%;
    }
    img{
        width: 250px;
    }
    #left-nav img{
        margin-left: 25%;
        margin-right: 25%;
        padding-left: 0;
        padding-bottom: 0;
        width: 250px;

        max-width: none;
    }
    #right-nav{
        width:auto;
        margin: auto;
    }

    /* Navigation */
    nav ul {
        padding-left: 0;
        margin-top: 0;
        border-left: none;
    }
    
}
